.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px 20px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  margin-top: 12px;
}

.card__title {
  margin: 0;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;

  max-width: 353px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
  transition: opacity 0.15s ease, transform 0.15s ease;
}

.card__like-button:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
  }
}
