.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
}
.card__title {
  opacity: 1;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
}
.card__like-button {
  background-image: url(../images/heart.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity 0.15s ease, transform 0.15s ease;
}
.card__like-button:hover {
  opacity: 0.85;
  transform: scale(1.05);
  cursor: pointer;
}
@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
