.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}
.card__title {
  opacity: 1;
  top: 425px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}
.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}
@media screen and (max-width 627px) {
  .card__image {
    height: 288px;
  }
}
