.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition:
    visibility 0.3s,
    opacity 0.3s ease-in;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
}

.modal__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  margin: 0 0 32px;
}

.modal__input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  box-sizing: border-box;
  display: block;
  margin: 8px 0 0;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: #212121;
  color: #fff;
  border: none;
  cursor: pointer;
  transition:
    opacity 0.15s ease,
    transform 0.15s ease;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__submit-btn:focus {
  outline: none;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 6px 12px;
  border-radius: 8px;
  max-width: 90%;
  margin-top: 10px;
  display: inline-block;
}

.modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 32px;
  height: 32px;
  background-image: url(../images/closeicon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
  filter: invert(1);
  transition: opacity 0.15s ease;
}

.modal__close-btn:hover {
  opacity: 0.8;
  background-image: url(../images/closeiconnonhover.svg);
}

.modal__close-btn_type_preview {
  top: 10px;
}

@media screen and (max-width: 480px) {
  .modal__close-btn_type_preview {
    top: -5px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    padding: 14px 16px;
  }

  .modal__close-btn {
    transform: translate(30%, -30%);
  }

  .modal__image {
    max-width: none;
    max-height: none;
    width: 100%;
  }

  .modal__caption {
    font-size: 16px;
  }
}
