.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  color: #212121b2;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-top: auto;
  display: flex;
  gap: 8px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 150ms ease;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  background-color: #212121;
  color: #fcf5e5;
  margin-left: auto;
  margin-top: auto;
  width: 157px;
  height: 52px;
  opacity: 1;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: opacity 150ms ease;
}

.profile__add-button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    align-items: center;
    margin: 0 0 20px;
  }

  .profile__add-button {
    margin: 0 auto;
    width: 100%;
  }
}
